*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

td { 
    padding: 0;
}

.head {
    background-color: rgb(238, 238, 214);
    height: 10rem;
    width: 100%;
    font-size:2rem;
    text-align: center; 
    vertical-align: center;
    padding-top: 3.5rem;
    margin-top: -0.5%;
}

.about {
    background-color: rgb(198, 226, 195);
    height: 74px;
    width: 25%;
    font-size:2rem;
    text-align: center;
    vertical-align: right;
    border-left: 5%;
}
.content {
    width: 75%;
    background-color: rgb(240, 216, 247);
    height: 9 rem;
    font-size:2rem;
    text-align: center;
    vertical-align: left;
}

.post {
    border: 0px;
}

img {
    vertical-align: top;
}
