*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

td { 
    padding: 1em;
}

.head {
    background-color: bisque;
    font-size: large;
    text-align: center;
}

.content {
    width: 75%;
}

.post {
    border: 1px solid #f00;
}
