<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
        <title>Isha's Art Composition Blog</title>
  
    </head>
    <body>
        <div class="head">
            <h1>Art Composition Blog</h1>
        </div>
        <table>
            <tr>
                <td class="content">
                    <h1>Posts</h1>
                    {% for page in pages %}
                        <div class="post">
                            <a href="{{ url_for('show_page', title=page) }}">{{ page }}</a>
                        </div>
                    {% endfor %}
                </td>
                <td class="about">
                    <div>
                        <h3>About This Blog</h3>
                        <p>In this blog I will show you all some of my favortite artists, and what artistic compositions they mainly use within their paintings!</p>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html> 
