<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css"> 
        <title>Isha's Art Composition Blog</title>
    </head>
    
    <body>
        <div class="head">
            <h1>Art Composition Blog</h1>
        </div>
        <table>
            <tr>
                <td class="content"></td>
                <td class="about">
                    <div>
                        <h3>About This Blog</h3>
                        <p>In this blog I will shows you some famous paintings I love, and decipher the types of art composition used within them!</p>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html> 
