*{
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    display: grid;
}

td { 
    padding: 1em;
}

.head {
    background-color: bisque;
    font-size: large;
    text-align: center;
}

.content {
    width: 75%;

}